<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Mitto_Bulk" setup_version="0.0.2">
        <sequence>
            <module name="Mitto_Core"/>
        </sequence>
    </module>
</config>
